<!DOCTYPE html>

<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui" name="viewport">
    <meta content="PIFA" name="apple-mobile-web-app-title">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="REAL PIFA" />
    <meta name="description" content="A league of prediction" />
    <meta name="robots" content="index, follow" />

    <title>PIFA</title>

    <link href="assets/image/touch-icon-144.png" sizes="144x144" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" href="assets/bs3/css/bootstrap.min.css">

    <style>
      body {
        font-size: 12px;
        color: #666666;
      }

      th, td {
        text-align: center;
      }

      td.spot-on {
        background-color: rgba(46, 204, 113, 0.2);
      }

      td.win {
        background-color: rgba(52, 152, 219, 0.2);
      }

      td.lose {
        background-color: rgba(231, 76, 60, 0.2);
      }

      td.forfeit {
        background-color: rgba(243, 156, 18, 0.2);
      }

      .mb0 {
        margin-bottom: 0px;
      }

      .mt0 {
        margin-top: 0px;
      }
    </style>
  </head>

  <body ng-app="PIFA" ng-controller="PIFACtrl">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="text-muted text-center">PIFA</h1>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <p class="mt0 mb0">SPOT-ON prediction</p>
            <p class="mt0 mb0">Winning side prediction</p>
            <p class="mt0 mb0">Wrong prediction</p>
            <p class="mt0 mb0">Forfeit prediction</p>
          </div>

          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <p class="mt0 mb0"><strong class="text-success">3</strong> PTS</p>
            <p class="mt0 mb0"><strong class="text-primary">1</strong> PT</p>
            <p class="mt0 mb0"><strong class="text-danger">-1</strong> PT</p>
            <p class="mt0 mb0"><strong class="text-danger">-2</strong> PTS</p>
          </div>
        </div>
      </div>

      <hr>

      <!-- STAT -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <table class="table table-condensed table-bordered">
            <thead>
              <tr>
                <th>Player</th>
                <th class="text-success">SO</th>
                <th class="text-success">W</th>
                <th class="text-danger">L</th>
                <th class="text-warning">F</th>
                <th class="text-primary">PTS</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="player in playersList | orderBy:'stat.PTS':true">
                <td ng-bind="player.name"></td>
                <td ng-bind="player.stat.spotOn"></td>
                <td ng-bind="player.stat.right"></td>
                <td ng-bind="player.stat.wrong"></td>
                <td ng-bind="player.stat.forfeit"></td>
                <td ng-bind="player.stat.PTS"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr>

      <!-- PREDICTION -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <table class="table table-condensed table-bordered">
            <thead>
              <tr>
                <th class="text-muted">PREDICTION</th>
                <th>Eyassu</th>
                <th>Joey</th>
                <th>Kaleb</th>
                <th>Moe</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="prediction in nextPredictions">
                <td>
                  <span ng-bind="prediction.match.teamA"></span>&nbsp;&nbsp;<span class="text-muted">vs</span>&nbsp;&nbsp;<span ng-bind="prediction.match.teamB"></span>
                </td>

                <td>
                  <span ng-bind="prediction.prediction.eyassu.teamA"></span>&nbsp;&nbsp;-&nbsp;&nbsp;<span ng-bind="prediction.prediction.eyassu.teamB"></span>
                </td>

                <td>
                  <span ng-bind="prediction.prediction.joey.teamA"></span>&nbsp;&nbsp;-&nbsp;&nbsp;<span ng-bind="prediction.prediction.joey.teamB"></span>
                </td>

                <td>
                  <span ng-bind="prediction.prediction.kaleb.teamA"></span>&nbsp;&nbsp;-&nbsp;&nbsp;<span ng-bind="prediction.prediction.kaleb.teamB"></span>
                </td>

                <td>
                  <span ng-bind="prediction.prediction.moe.teamA"></span>&nbsp;&nbsp;-&nbsp;&nbsp;<span ng-bind="prediction.prediction.moe.teamB"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr>

      <!-- TABLE -->
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <table class="table table-condensed table-bordered">
            <thead>
              <tr>
                <th class="text-muted">MATCH</th>
                <th>Eyassu</th>
                <th>Joey</th>
                <th>Kaleb</th>
                <th>Moe</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="match in matches">
                <td>
                  <span ng-bind="match.match.teamA"></span>&nbsp;&nbsp;<span class="text-muted">vs</span>&nbsp;&nbsp;<span ng-bind="match.match.teamB"></span><br>
                  <span class="text-muted"><span ng-bind="match.match.scoreA"></span>&nbsp;&nbsp;-&nbsp;&nbsp;<span ng-bind="match.match.scoreB"></span></span>
                </td>

                <td ng-class="{'spot-on': match.pts.eyassu === 3, 'win': match.pts.eyassu === 1, 'lose': match.pts.eyassu === -1, 'forfeit': match.pts.eyassu === -2}">
                  <span ng-bind="match.prediction.eyassu.teamA"></span>&nbsp;&nbsp;-&nbsp;&nbsp;<span ng-bind="match.prediction.eyassu.teamB"></span><br>
                  <span class="text-muted" ng-bind="match.pts.eyassu"></span>
                </td>

                <td ng-class="{'spot-on': match.pts.joey === 3, 'win': match.pts.joey === 1, 'lose': match.pts.joey === -1, 'forfeit': match.pts.joey === -2}">
                  <span ng-bind="match.prediction.joey.teamA"></span>&nbsp;&nbsp;-&nbsp;&nbsp;<span ng-bind="match.prediction.joey.teamB"></span><br>
                  <span class="text-muted" ng-bind="match.pts.joey"></span>
                </td>

                <td ng-class="{'spot-on': match.pts.kaleb === 3, 'win': match.pts.kaleb === 1, 'lose': match.pts.kaleb === -1, 'forfeit': match.pts.kaleb === -2}">
                  <span ng-bind="match.prediction.kaleb.teamA"></span>&nbsp;&nbsp;-&nbsp;&nbsp;<span ng-bind="match.prediction.kaleb.teamB"></span><br>
                  <span class="text-muted" ng-bind="match.pts.kaleb"></span>
                </td>

                <td ng-class="{'spot-on': match.pts.moe === 3, 'win': match.pts.moe === 1, 'lose': match.pts.moe === -1, 'forfeit': match.pts.moe === -2}">
                  <span ng-bind="match.prediction.moe.teamA"></span>&nbsp;&nbsp;-&nbsp;&nbsp;<span ng-bind="match.prediction.moe.teamB"></span><br>
                  <span class="text-muted" ng-bind="match.pts.moe"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <footer class="text-center">
        <small class="text-muted">&copy; 2014, PIFA (patent pending)</small>
      </footer>
    </div>

    <script src="assets/angular/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
